*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}
body{
  height: 100vh;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1{
  margin-top: 100px;
  color: rgb(251,177,39);
}
form{
  margin-top:50px;
  background: #fff;
  box-shadow: -3px 6px 4px #222;


}
form input{
  width: 250px;
  height: 40px;
  border: none;
  outline: none;
  padding: 0 50px;
}
form button{
  width: 50px;
  height: 40px;
  border: none;
  background: teal;
  color: white;
  outline: none;
  cursor: pointer;
}
.container{
  margin-top: 50px;
}
ul{
  list-style: none;
  width: 500px;
}
ul li{
  width: 100%;
  background: #fff;
  display: block;
  height: 40px;
  position: relative;
  cursor: pointer;
  padding:0 5px;
  line-height: 40px;
  margin: 5px 0;
  box-shadow: -3px 6px 4px #222;
}
ul li span{
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  text-align: center;
  background:#e00 ;
}
